@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}

body > div > * {
  width: 80%;
  margin: auto;
}

.top-section,
footer {
  background-color: #1f2937;
}
#top-image {
  height: 250px;
  border-radius: 10px;
}
.header h3 {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

#header-logo {
  margin-right: auto;
}

ul {
  padding: 10px;
  align-items: center;
  font-size: 18px;
  list-style: none;
  color: #e5e7eb;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  border-radius: 5px;
  padding: 10px;
}
a:hover {
  background-color: #1d3b6c;
}

.top-content {
  padding: 50px;
  display: flex;
  gap: 20px;
  align-content: center;
}

.top-content > * {
  flex: 1;
}

.top-content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.top-content p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 5px;
}

#sign-up,
#sign-up-two {
  background-color: #3882f6;
  padding: 5px 20px;
  border-radius: 5px;
  color: #f9faf8;
  border: none;
  cursor: pointer;
}

#sign-up:hover,
#sign-up-two:hover {
  background-color: #1d3b6c;
}

#sign-up-two {
  border: 1px solid #f9faf8;
}

.second-section {
  padding: 20px;
}

body > div > h2 {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}
.images {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.small-image {
  height: 150px;
  border-radius: 10px;
}

.second-section .images .image {
  flex: 0 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image p {
  text-align: center;
}

.third-section {
  background-color: #e5e7eb;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
}

.credit {
  color: #1f2937;
  font-weight: 600;
  text-align: end;
}

.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.blue-box {
  background-color: #3882f6;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.blue-box h4 {
  color: #f9faf8;
}
.blue-box p {
  color: #e5e7eb;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  color: #e5e7eb;
  font-size: 12px;
}
